<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo">Novo carro</ui:define>

    <ui:define name="corpo">
    	<f:metadata>
			<o:viewParam name="carro" value="#{cadastroCarroBean.carro}" />
		</f:metadata>

    	<h1>Novo carro</h1>

    	<h:form id="frmCadastro">
    		<p:messages id="messages" autoUpdate="true" closable="true" />

	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Salvar" id="botaoSalvar" action="#{cadastroCarroBean.salvar}" update="frmCadastro"/>
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
					<p:button value="Pesquisa" outcome="/pages/carro/PesquisaCarro.xhtml"/>
				</p:toolbarGroup>
	    	</p:toolbar>

			<p:panelGrid columns="2" id="painel" style="width: 100%" columnClasses="rotulo, campo">
				<p:outputLabel value="Código" for="codigo"/>
			    <p:inputText id="codigo" size="20" maxlength="20" value="#{cadastroCarroBean.carro.codigo}" readonly="true"/>

			    <p:outputLabel value="Modelo Carro" for="modeloCarro"/>
	    		<p:selectOneMenu id="modeloCarro" value="#{cadastroCarroBean.carro.modeloCarro}">
	    			<f:selectItem itemLabel="Selecione o modelo" />
	    			<f:selectItems value="#{cadastroCarroBean.modelosCarros}" var="modelosCarros"
						itemLabel="#{modelosCarros.descricao}" itemValue="#{modelosCarros}"/>
	    		</p:selectOneMenu>

			    <p:outputLabel value="Placa" for="placa"/>
			    <p:inputText id="placa" size="20" maxlength="20" value="#{cadastroCarroBean.carro.placa}"/>

			    <p:outputLabel value="Chassi" for="chassi"/>
			    <p:inputText id="chassi" size="20" maxlength="20" value="#{cadastroCarroBean.carro.chassi}"/>

			    <p:outputLabel value="Cor" for="cor"/>
			    <p:inputText id="cor" size="20" maxlength="20" value="#{cadastroCarroBean.carro.cor}"/>

			    <p:outputLabel value="Valor diária" for="valorDiaria"/>
			    <p:inputText id="valorDiaria" size="20" maxlength="20" value="#{cadastroCarroBean.carro.valorDiaria}"/>

			    <p:outputLabel value="Acessórios" for="acessorios"/>
				<p:selectManyCheckbox id="acessorios" styleClass="many-checkbox"
						value="#{cadastroCarroBean.carro.acessorios}" converter="acessorioConverter">
					<f:selectItems value="#{cadastroCarroBean.acessorios}" var="acessorio"
						itemLabel="#{acessorio.descricao}" itemValue="#{acessorio}" />
				</p:selectManyCheckbox>
			</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>