<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Pesquisa de Acessório</ui:define>

    <ui:define name="corpo">
    	<h1>Pesquisa de acessórios</h1>

    	<h:form id="frmPesquisa">
    		<p:messages id="messages" autoUpdate="true" closable="true" />

    		<p:toolbar style="margin-top: 20px">
    			<p:toolbarGroup>
    				<p:button value="Novo" outcome="/pages/acessorio/CadastroAcessorio.xhtml"/>
    			</p:toolbarGroup>
    		</p:toolbar>

	    	<p:dataTable id="acessoriosTable" value="#{pesquisaAcessorioBean.acessorios}" var="acessorio"
		    		style="margin-top: 20px" emptyMessage="Nenhum acessorio encontrado." rows="20"
		    		paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
		    		<p:column headerText="Código" style="text-align: center; width: 100px">
		    			<h:outputText value="#{acessorio.codigo}" />
		    		</p:column>
		    		<p:column headerText="Descrição">
		    			<h:outputText value="#{acessorio.descricao}" />
		    		</p:column>
		    		<p:column style="width: 100px; text-align: center">
		    			<p:button outcome="CadastroAcessorio" icon="ui-icon-pencil" title="Editar">
		    				<f:param name="acessorio" value="#{acessorio.codigo}"/>
		    			</p:button>
		    			<p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="confirmacaoExclusao.show()"
								process="@this" update=":frmPesquisa:confirmacaoExclusaoDialog">
							<f:setPropertyActionListener target="#{pesquisaAcessorioBean.acessorioSelecionado}" value="#{acessorio}" />
						</p:commandButton>
		    		</p:column>
		    </p:dataTable>

		    <p:confirmDialog id="confirmacaoExclusaoDialog" widgetVar="confirmacaoExclusao"
	        		message="Tem certeza que deseja excluir o acessorio #{pesquisaAcessorioBean.acessorioSelecionado.descricao}?"
	                header="Exclusão de acessorio" severity="alert">
	        	<p:button value="Não" onclick="confirmacaoExclusao.hide(); return false;" />
	        	<p:commandButton value="Sim" update=":frmPesquisa:acessoriosTable"
	        			onclick="confirmacaoExclusao.hide()" action="#{pesquisaAcessorioBean.excluir}" />
	    	</p:confirmDialog>
	    </h:form>
    </ui:define>
</ui:composition>