<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo">Novo modelo de carro</ui:define>

    <ui:define name="corpo">
    	<f:metadata>
			<o:viewParam name="modeloCarro" value="#{cadastroModeloCarroBean.modeloCarro}" />
		</f:metadata>

    	<h1>Novo modelo de carro</h1>

    	<h:form id="frmCadastro">
	    	<p:messages id="messages" autoUpdate="true" closable="true" />

	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Salvar" id="botaoSalvar" action="#{cadastroModeloCarroBean.salvar}" update="frmCadastro"/>
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
					<p:button value="Pesquisa"/>
				</p:toolbarGroup>
	    	</p:toolbar>

	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		<p:outputLabel value="Código" for="codigo"/>
	    		<p:inputText id="codigo" size="20" maxlength="20" value="#{cadastroModeloCarroBean.modeloCarro.codigo}" readonly="true"/>

	    		<p:outputLabel value="Fabricante" for="fabricante"/>
	    		<p:selectOneMenu id="fabricante" value="#{cadastroModeloCarroBean.modeloCarro.fabricante}">
	    			<f:selectItem itemLabel="Selecione o fabricante" />
	    			<f:selectItems value="#{cadastroModeloCarroBean.fabricantes}" var="fabricante"
						itemLabel="#{fabricante.nome}" itemValue="#{fabricante}"/>
	    		</p:selectOneMenu>

	    		<p:outputLabel value="Modelo" for="modelo"/>
	    		<p:inputText id="modelo" size="60" maxlength="80" value="#{cadastroModeloCarroBean.modeloCarro.descricao}"/>
	    	</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>